
.Slide-img-div{
width: 100%;

}
.slick-slide {
  margin-right: 20px;
}

.slick-slide:last-child {
  margin-right: 0;
}

.sec-slide{
border: 1px solid black;
}
.slider2-img-div{
  width: 50%;
  margin: auto;
}